.multiTip {
	min-width: 60px;
	max-width: 200px;
	border:2px #444 solid;
	overflow:hidden;
    word-wrap: break-word;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	border-radius:5px;
	-moz-box-shadow: 2px 2px 10px #333;
	-webkit-box-shadow: 2px 2px 10px #333;
	box-shadow: 2px 2px 10px #333;
	filter: progid: DXImageTransform.Microsoft.Shadow(strength = 2, direction = 135, color = '#333333');
	-ms-filter: "progid: DXImageTransform.Microsoft.Shadow(strength = 2, Direction = 135, Color = '#333333')";
}