/*
 * Bootstrap override
 */
.modal-backdrop {
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.popover {
	color: black;
	-ms-user-select:none;
}

/*
 * Popup views
 */

#init-import-views {
	display: none;
}

/*
 * Modal footer
 */
.modal-footer .error, .modal-footer .success, .modal-footer .addSpinner {
	display: none;
	float: left;
	vertical-align: -4px;
	margin-top: 6px;
	font-size: 14px;
	color: #c43d40;
	font-weight: bold;
}

/*
 * Mobile Builder 
 */
.builderMobile {
	display: none;
}

.modal-footer .success {
	color: #30750a;
}

.modal-footer .addSpinner {
	margin-left:8px;
}

/*
 * Top panel
 */

#builderPanel {
	position: absolute;
	top: 0px;
	display: none;
	z-index: 500;
	text-align: center;
    word-wrap: break-word;
	height: 100px;
	padding: 15px 20px 0px 20px;
}

#builderPanel > div > button {
	margin: 0px;
}

#builderPanel > div > button:nth-child(1) {
	min-width: 83px; /* Surface */
}

#builderPanel button.small {
	padding-left: 4px;
	padding-right: 4px;
}

#builderPanel .leftPanel {
	width: 132px;
	text-align: left;
}

#builderPanel h4 {
	color: white;
	margin: 1px 0 2px 4px;
	line-height: 22px;
	font-weight: normal;
	font-family:Arial, Helvetica, sans-serif;
}

#save-counter {
	display: inline-block;
	margin-top: 6px;
	margin-left: 1px;
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #999;
}

#builderPanel .popover-content {
	padding: 6px 10px;
}

.builderPanelPopover {
	width: 200px;
	left: 0px !important;
	z-index: 5555;
}

.discard-popover {
	min-width: 271px;
}

.view-popover {
	width: 283px;
	max-width: 283px !important;
}

.view-popover .popover-title {
	display: none;
}

.builder-save {
	margin-left: 12px;
}

.builder-settings {
	margin-left: 11px;
}

.settings-popover {
	text-align: center;
	min-height: 40px;
	left: 0px !important;
	min-width: 280px !important;
	max-width: 360px !important;
}

.settings-popover .popover-title {
	display: none;
}

.hide {
	display: none;
}

/* Spectrum input color picker */
.sp-input {
	background-color: #B9B9B9 !important;
}

.sp-input-container {
	height: 16px !important;
}