#settings-header p {
	margin-bottom: 20px;
}

#settings-header img {
	float:right;
	max-width: 250px;
	max-height: 50px;
}

#settings-header .form1 .controls {
	float:left;
	margin-left:65px;
	width: 290px;
}

#settings-header .form2 .control-label {
	width: 50px;
}

#settings-header .form2 .control-group:nth-child(2) {
	margin-bottom: 0px;
}

#settings-header .form2 .controls {
	margin-left: 65px;
}

#settings-header #headerSimulator {
	padding: 5px 5px 0px 0px;
	float:left;
	width:140px;
	height:55px;
	background-color:#666;
}

#settings-header .optionsLogoCustom {
	margin-left: 25px;
}

#settings-header #logoTargetInput {
	margin-top:10px;
	display:block;
}

#settings-colors .sp-input-container {
	height: 16px !important;
}