#settings-extent p {
	margin-bottom: 20px;
}

#settings-extent  #extentMap{
	width: 100% !important;
	height: 337px !important;
}

#settings-extent  #extentMap .logo-sm {
	display: none;
}

#settings-extent  .extentMapControl {
	margin-bottom: 4px;
}

#settings-extent .explain2 {
	margin-top: 10px;
}

#settings-extent .dateLineError {
	display: none;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:14px;
	color:#c43d40;
	padding-top: 8px;
}
