#settingsPopup {
	overflow:hidden;
}

#settingsPopup , #settingsPopup .modal-body {
	max-height: none;
}

.settingsPopupHeader {
	width: 100%;
	margin-top: -3px;
}

#settingsPopup .tab {
	width: auto;
	min-width: inherit;
	padding: 5px 12px 5px 10px;
}

#settingsPopup .tab.disabled {
	opacity: 0.5;
	cursor: default;
}

.settingsPopupHeader button {
	border-radius: 0 !important;
	width: 34%;
}