/*
 * General rules for mobile
 */

.scroll-layout-banner, #mobile-scroll-story-content {
	display: none;
}

/* Disable text selection */
#footerMobile, #listPanel, #infoPanel, #introPanel, #headerMobile, #openHeaderMobile {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*
 * Rules used by ListView and Carousel
 */

.tpImgPane {
	position:absolute;
	border:3px #fff solid;
	height:70px;
	width:70px;
	top:12px;
	left:12px;
	-webkit-box-shadow: 2px 2px 3px 0px #444444;
	box-shadow: 2px 2px 3px 0px #444444;
	overflow:hidden;
}

.tpImgContainer {
	height: 74px;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
	width: 70px;
}

.tpImgPane img {
	max-width: 70px;
	max-height: 70px;
}

.tpTextPane {
	margin-left: 104px;
	padding-right: 6px;
}

.tpIcon {
	position:absolute;
}

body.notNumbered .tpIcon {
	display: none;
}

.tpName {
	padding-top: 9px;
	font-size:18px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	word-break: break-all;
	word-wrap: break-word;
	max-height: 24px;
}

.tpDescription {
	font-size:14px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
	max-height: 52px;
	word-wrap: break-word;
	line-height: 18px;
	margin-top: 2px;
}

/*
 * Rules for info view and introduction record
 */

.tourPointName {
	font-size: 24px;
	margin-left: 68px;
	margin-top: 12px;
	margin-right: 90px;
	text-align:left;
	word-wrap: break-word;
	min-height:30px;
}

.tourPointDescription {
	font-size:14px;
	margin: 15px 5% 0 5%;
	text-align:left;
	word-wrap: break-word;
}

.tourPointImg {
	margin-top:10px;
	max-width:90%;
	border:5px #fff solid;
	-webkit-box-shadow: 2px 2px 3px 0px #444444;
	box-shadow: 2px 2px 3px 0px #444444;
}

body.notNumbered .tourPointIcon {
	display: none;
}

body.notNumbered  .tourPointName {
	margin-left: 40px;
}

.tourPointIframe {
	margin-top:10px;
	width: 90%;
	height: 500px;
	border:5px #fff solid;
	-webkit-box-shadow: 2px 2px 3px 0px #444444;
	box-shadow: 2px 2px 3px 0px #444444;
}

/* MOBILE-LAYOUT-SCROLL CHANGES */
.mobile-view.mobile-layout-scroll #openHeaderMobile,
.mobile-view.mobile-layout-scroll #headerMobile .navBar,
.mobile-view.mobile-layout-scroll:not(.isEmbed) #mainMap_zoom_slider,
.mobile-view.mobile-layout-scroll #closeHeaderMobile,
.mobile-view.mobile-layout-scroll #footer {
	display: none;
}

.mobile-view.mobile-layout-scroll.isEmbed #mainMap_zoom_slider.esriSimpleSliderTL {
	top: auto;
	bottom: 45px;
	left: 5px;
}

.mobile-view.mobile-layout-scroll.isEmbed #mainMap_zoom_slider .esriSimpleSliderIncrementButton:nth-of-type(2) {
	top: 66px;
}

.mobile-view.mobile-layout-scroll #mainMap_zoom_location {
	bottom: 6px;
	top: auto;
	left: 5px;
	padding-bottom: 4px;
}

.mobile-view.mobile-layout-scroll #headerMobile {
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.mobile-view.mobile-layout-scroll #headerMobile .banner {
	background: #000;
	border-top: #666 1px solid;
	padding: 10px;
}

.mobile-view.mobile-layout-scroll #headerMobile .title,
.mobile-view.mobile-layout-scroll #headerMobile .subtitle {
	margin: 0;
	padding: 0;
	font-weight: 200;
	font-family: 'open_sansregular', sans-serif;
}

.mobile-view.mobile-layout-scroll #headerMobile .subtitle {
	margin-top: 10px;
}

.mobile-view.mobile-layout-scroll .scroll-layout-banner {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	background-color: #000;
	padding: 10px;
	z-index: 100;
}

.mobile-view.mobile-layout-scroll #header {
	height: 0;
}

.mobile-view.mobile-layout-scroll .scroll-layout-banner .mobile-scroll-logo {
	flex-grow: 1;
	max-height: 40px;
}

.mobile-view.mobile-layout-scroll .scroll-layout-banner .mobile-scroll-logo-link {
	line-height: 0;
	padding-right: 10px;
}

.mobile-view.mobile-layout-scroll .scroll-layout-banner .mobile-scroll-story-tag-link {
	flex-grow: 1;
	text-align: right;
	font-weight: 200;
	color: #ccc;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobile-view.mobile-layout-scroll #contentPanel {
	width: 100%;
	height: 100%;
}
