/*
 * Rules used by ListView and Carousel
 */

.tpImgPane {
	position:absolute;
	border:3px #fff solid;
	height:70px;
	width:70px;
	top:12px;
	left:12px;
	-webkit-box-shadow: 2px 2px 3px 0px #444444;
	box-shadow: 2px 2px 3px 0px #444444;
	overflow:hidden;
}

.tpImgContainer {
	height: 74px;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
	width: 70px;
}

.tpImgPane img {
	max-width: 70px;
	max-height: 70px;
}

.tpTextPane {
	margin-left: 104px;
	padding-right: 6px;
}

.tpIcon {
	position:absolute;
}

.tpName {
	padding-top: 9px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	word-break: break-all;
	word-wrap: break-word;
	max-height: 24px;
}

.tpDescription {
	font-size:14px;
	margin-top:5px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
	max-height: 52px;
	word-wrap: break-word;
}

/*
 * Rules for info view and introduction record
 */

.tourPointName {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 24px;
	margin-left: 68px;
	margin-top: 12px;
	margin-right: 90px;
	text-align:left;
	word-wrap: break-word;
	min-height:30px;
}

.tourPointDescription {
	font-size:14px;
	margin: 15px 5% 0 5%;
	text-align:left;
	word-wrap: break-word;
}

.tourPointImg {
	margin-top:10px;
	max-width:90%;
	border:5px #fff solid;
	-webkit-box-shadow: 2px 2px 3px 0px #444444;
	box-shadow: 2px 2px 3px 0px #444444;
}

.tourPointIframe {
	margin-top:10px;
	width: 90%;
	height: 500px;
	border:5px #fff solid;
	-webkit-box-shadow: 2px 2px 3px 0px #444444;
	box-shadow: 2px 2px 3px 0px #444444;
}