#infoPanel {
	display: none;
	height: 100%;
	min-height: 100%;
}

#infoCarousel {
	text-align:center;
	overflow:auto;
	height: 100%;
	min-height: 100%;
	-ms-touch-action: none;
}

#infoCarousel > div > div {
	overflow: hidden;
}

.iconHolder {
	/*position: absolute;
	left: 32px;
	top: 0px;
	text-align:left;*/
	text-align: left;
	float: left;
	margin-left: 32px;
}

.iconHolder img {
	height:40px;
	width:32px;
	margin:10px 5% 5px 5%;
}

#infoPanel .embed-btn-container {
	display: none;
	position: absolute;
	bottom: 0;
	margin: 20px;
}

#infoPanel.hasDesktopBtn .embed-btn-container {
	display: block;
}

#infoPanel .embed-btn-container.disabled {
	opacity: 0.2;
	cursor: default;
}

.tourPoint {
	overflow: auto;
}
