#introPanel {
	display: none;
	position: absolute;
	left: 0px;
	top: 41px;
	text-align: center;
	overflow: auto;
	min-height: 100%;
	background-color: grey;
	z-index: 2000;
	width: 100%;
	max-width: 100%;
	height: 100%;
	touch-action: auto !important;
}

#introPanel .tourPointName {
	margin-left: 0px;
	padding: 0px 5% 0px 5%;
}

#introPanel button {
	margin-bottom: 45px;
}
