#addPopup {
	overflow: visible;
}

@media only screen and (max-height : 708px) {
	#addPopup {
		top: 50%;
		margin-top: -284px;
	}
}

@media only screen and (max-height : 567px) {
	#addPopup {
		top: 0px;
		margin-top: 0px;
	}
}

.modal .modal-body {
    max-height: none;
}

#addPopup .modal-body {
	/*height: 388px;*/
	overflow: visible;
}

.addPopupHeader {
	width: 100%;
	margin-top: -3px;
}

.addPopupHeader button {
	border-radius: 0 !important;
	width: 34%;
}

#addPopup label {
	font-weight: bold;
	display: block;
}

#addPopup input {
	display: block;
	margin-bottom: 10px;
}

#addPopup .locationForm input {
	border: 1px solid #cccccc;
	color: #555555;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tab-icon{
	float:right;
	margin-left: 5px;
}

.errorList{
	font-weight:bold;
	font-size:14px;
	color:#c43d40;
	list-style:none;
	padding-left:0;
}

.maxPictureReached {
	display: none;
}

/*
 * Picture tab - attachments
 */

#addPopup .imageUploadWrapper {
	color:#FFFFFF;
	height: 380px;
	border: 4px dashed #848484;
}

#addImageUploadFormPicture{
	text-align: center;
}

.addNoteVideo {
	position: absolute;
	bottom: 25px;
	left: 0px;
	font-size: 14px;
	font-style: italic;
	width: 100%;
	color: #000;
}

.addNoteVideo > div {
	padding-left: 20px;
	padding-right: 20px;
}

.pictureSize {
	margin-top: 4px;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
}

.pictureSize input {
	display: inline-block !important;
	vertical-align: -5px !important;
	margin: 0px 4px 2px 10px !important;
}

.imageUploadWrapper a {
	margin-top: 160px;
}

.leftPanel{
	display:table-cell;
	width:320px;
	text-align:center;
	vertical-align:middle;
	float:left;
}

.imagePreview{
	max-width:100%;
	max-height:300px;
}

.imagePreviewName{
	font-size:18px;
	font-weight:bold;
	padding-bottom:5px;
	border-bottom:1px #ccc solid;
	word-wrap: break-word;
}

.rightPanel {
	float:right;
	max-height:400px;
	width:200px;
}

.rightPanel .thumbnail .thumbnailFile {
	display:none;
}

.rightPanel .thumbnail canvas {
	background-color: grey;
}

.rightPanel .thumbnail .thumbnailForm {
	display:none;
}

.cameraSettings{
	margin-top:5px;
	font-size:14px;
}

.settingHeading{
	font-size:12px;
	font-weight:bold;
	margin-top:15px;
	margin-bottom:5px;
	color:#888;
}

.exifMinor{
	position:relative;
}

.cameraSmallSettings{
	display:inline;
	background-color:#dadada;
	padding:3px;
	margin-right:5px;
	font-size:11px;
	color:#777;
	line-height:2.5em;
	border:1px solid #999;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	white-space:nowrap;
}

.changeThumbnail{
	color:#444;
	font-size:10px;
	cursor:pointer;
}

/*
 * Picture tab - attributes
 */

#addImageAttributesTypeChooser {
	margin-bottom: 13px;
}

.addImageAttributes .video {
	display: none;
}

.addImageAttributes td:nth-child(2) {
	padding-left: 20px;
}

.addImageAttributes tr.fade {
	opacity: 0.5;
}

.addImageAttributes img.click {
	cursor: pointer;
	width: 17px;
	vertical-align: 1px;
}

.addImageAttributes img {
	margin-left: 3px;
}

.addImageAttributes a img {
	margin-left: 2px;
}

.addImageAttributes i {
	vertical-align: 4px;
	margin-left: 3px;
	display: inline-block;
}

.addImageAttributes i.icon-exclamation-sign {
	vertical-align: 3px;
}

.addImageAttributes .video input {
	display: inline-block !important;
}

.addImageAttributes .video input[type="radio"] {
	margin-right: 5px;
}

.addImageAttributes .video input[type="text"] {
	width: 250px !important;
}

.addImageAttributes .video input[type="text"].type {
	width: 310px !important;
}

.addImageAttributes .video input[type="text"].tourPointThumbUrl2 {
	width: 465px !important;
}

.addImageAttributes input[type="text"] {
	width: 97%;
}

.video1-popover {
	min-width: 410px;
	width: 410px;
	max-width: 410px !important;
}

.video2-popover {
	min-width: 350px;
}

/*
 * Information tab
 */

.addText input, .addText textarea {
	position: relative;
	left: 0px;
	top: 0px;
	width: 97%;
}

/*
 * Location tab
 */

.addLocation label, .addLocation input {
	display: inline !important;
}

.addLocation label:not(:first-child){
	margin-left: 8px;
}

.addLocation input {
	width: 80px;
	font-size: 12px;
	height: 14px;
	vertical-align: 2px;
	width: 54px;
}

.pinSelector{
	width:22px;
	padding:3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor:pointer;
	vertical-align: -3px;
}

.pinSelector.selected{
	border:2px solid #666;
	padding-left: 5px;
}

#locateMap{
	position:relative;
	width: 100%;
	height: 337px;
}

#geocoder{
	display: block;
	position: absolute;
	z-index: 30;
	bottom: 20px;
	left: 20px;
}

#geocoder input{
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

/* avoid flickering */
#geocoder .esriGeocoderActive {
	border-bottom: 2px solid #666;
}

.colorSelectorPin.selected {
	border: 1.5px solid black;
	height: 19px;
	width: 19px;
}
