/*
 * Map/Carousel panel
 */
#builderPanel2 {
	position: absolute;
	display: none;
	z-index: 500;
	min-width: 180px;
	bottom: 150px;
	text-align: center;
	background-color: #c2c2c2;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 8px 11px 4px 3px;
	height: 30px;
}

#builderPanel2 .text_edit_icon {
	vertical-align: -4px;
}

#organizeSlidesButton, #addPopupButton, #importPopupButton {
	min-width: 85px;
	margin-left: 7px;
}

/*
 * Intro record panel
 */

#builderPanel3 {
	position: absolute;
	display: none;
	z-index: 499;
	min-width: 58px;
	bottom: 150px;
	left: 30px;
	text-align: center;
	background-color: #c2c2c2;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 8px 10px 4px 10px;
	height: 30px;
}

/*
 * Map Pin Infowindow
 */

.colorSelectorPin{
	height:27px;
	padding:6px;
	margin-top: 3px;
	cursor:pointer;
}

.selectedColor{
	border-radius: 4px;
	background-color: #777;
	cursor: default;
}

/*
 * Browser warning popup
 */

#browserPopup {
	top: 27% !important
}

#browserPopup .browserExplain2 {
	margin-top: 15px;
}