textarea {
	resize: none;
}

.modal-footer .error, .modal-footer .success , .modal-footer .addSpinner {
	display: none;
	float: left;
	vertical-align: -4px;
	margin-top: 6px;
	font-size: 14px;
	color: #c43d40;
	font-weight: bold;
}

.modal-footer .success {
	color: #30750a;
}

.modal-footer .addSpinner {
	margin-left:8px;
}