#importPopup .modal-body {
	overflow: hidden;
}

#importPopupViewHome .header {
	text-align: center;
	margin-bottom: 12px;
}

#importPopupViewHome table {
	width: 100%;
	text-align: center;
	margin-left: -5px;
}

#importPopupViewHome td {
	font-weight: normal;
	width: 20%;
	border: 1px solid rgba(0, 0, 0, 0);
	padding: 4px;
	height: 90px;
	vertical-align: top;
}

#importPopupViewHome td.disabled {
	opacity: 0.4;
	cursor: default !important;
}

#importPopupViewHome td div {
	margin-top: 2px;
}

#importPopupViewHome td:hover {
	background-color: #C7C4C4;
	cursor: pointer;
	border: 1px solid #757575;
	border-radius: 10px;
}

#importPopupViewHome .footer {
	margin-top: 15px;
}

#importPopupViewHome a {
	margin-top: 4px;
	font-weight: normal;
	text-decoration: underline;
}