@media only screen and (max-height : 708px) {
	#importPopup {
		top: 50%;
		margin-top: -304px;
	}
}

@media only screen and (max-height : 608px) {
	#importPopup {
		top: 0px;
		margin-top: 0px;
	}
}

#importPopup .modal-body {
	overflow: visible;
}

#importPopupViewHome .header {
	text-align: center;
	margin-bottom: 12px;
}

#importPopupViewHome table {
	width: 100%;
	text-align: center;
	margin-left: -5px;
}

#importPopupViewHome td {
	font-weight: normal;
	width: 20%;
	border: 1px solid rgba(0, 0, 0, 0);
	padding: 18px;
	vertical-align: top;
}

#importPopupViewHome td.disabled {
	opacity: 0.4;
	cursor: default !important;
}

#importPopupViewHome td.disabled a {
	cursor: default !important;
}

#importPopupViewHome td div {
	margin-top: 2px;
}

#importPopupViewHome td:hover {
	background-color: #C7C4C4;
	cursor: pointer;
	border: 1px solid #757575;
	border-radius: 10px;
}

#importPopupViewHome .footer {
	margin-top: 15px;
}

#importPopupViewHome a {
	margin-top: 4px;
	font-weight: normal;
	text-decoration: underline;
}