#organizePopup .modal-body {
	overflow:hidden;
	max-height:500px;
}

#organizePopup .gridContainer {
	width:490px;
	height:350px;
	overflow:auto;
	margin-top:10px;
	margin-left:15px;
	-webkit-overflow-scrolling: touch;
	-ms-touch-action: none;
}

#organizePopup .organizeHeader .generalCaption {
	margin-left: 40px;
	padding-top: 8px;
}

#organizePopup .organizeHeader .buttonBar {
	float: right;
	margin-right: 40px;
}

#organizePopup .picturesGrid {
	margin-left:10px;
	margin-top:10px;
}

#organizePopup .picturesGrid li {
	text-align:center;
	list-style:none;
	float:left;
	width:130px;
	height:90px;
	overflow:hidden;
	background-color:#999999;
	margin-left:15px;
	margin-right:5px;
	margin-bottom:10px;
	position:relative;
	cursor:pointer;
}

#organizePopup .picturesGrid img {
	cursor:pointer;
	max-width:120px;
	max-height:80px;
	margin-top:5px;
}

#organizePopup .numberLabel {
	background-color:#FF0000;
	width:20px;
	height:20px;
	position:absolute;
	top:5px;
	left:5px;
	text-align:center;
	color:white;
}

#organizePopup .number-blue {
	background-color:#1880f3;
}

#organizePopup .number-red {
	background-color:#FF0000;
}

#organizePopup .number-green {
	background-color:#369A22;
}

#organizePopup .number-purple {
	background-color:#8A26FD;
}

#organizePopup .veil {
	position:absolute;
	width:100%;
	height:100%; 
	background-color:#000;
	top:0px;
	opacity:0.7;
	display:none;
	cursor:pointer;
}

#organizePopup .halo {
	position:absolute;
	top:0px;
	left:0px;
	border:solid;
	border-width:3px;
	border-color:#FF0000;
	cursor:pointer;
	display:none;
}

#organizePopup #btnHide, #btnDelete {
	min-width:85px;
}

#organizePopup .savePopover {
	width: 260px;
}

#organizePopup .organizeFooter {
	margin-top: 6px;
}

#organizePopup .organizeIntro {
	margin-left: 5px;
}

#organizePopup .btnReset {
	float:right;
}