.popupViewPicasa .headerContainer {
	margin-bottom: 15px;
}

.popupViewPicasa .btn-userLogin {
	vertical-align: 4px;
	margin-bottom: 15px;
}

.popupViewPicasa .signInMsg {
	font-size: 14px;
	color: #30750a;
	font-weight: bold;
	vertical-align: 2px;
}

.popupViewPicasa .signInMsg.error {
	color: #c43d40;
}

.popupViewPicasa .signInMsg img {
	vertical-align: -2px;
}

.popupViewPicasa .contentContainer {
	margin-top: 20px
}

.popupViewPicasa .howToFind { 
	display: block;
	margin-top: 30px;
}

.popupViewPicasa .howToFind a {
	text-decoration: underline;
	font-weight: normal;
}

.howToFind-popover {
	left: 5px !important;
	min-width: 380px;
}