.popupViewFacebook .modal-body {
	padding-bottom: 5px;
}

.popupViewFacebook .headerContainer {
	margin-bottom: 15px;
}

.popupViewFacebook .selectContainer {
	width: 49%;
	display: inline-block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	vertical-align: top;
}

.popupViewFacebook .selectContainer:nth-child(1) {
	border-right: 1px solid black;
}

.popupViewFacebook .sideHeader {
	text-align: center;
	font-weight: bold;
	margin-bottom: 5px;
}

/*
 * Left side
 */
.popupViewFacebook .facebookLogin {
	height: 67px;
	margin-top: 10px;
}

/*
 * Right side
 */

.popupViewFacebook > div .selectContainer:nth-child(2) .sideHeader {
	margin-bottom: 20px;
}

.popupViewFacebook .selectPageName {
	width: 157px;
}

.popupViewFacebook .btn-pageLookup {
	vertical-align: 4px;
	margin-bottom: 15px;
}

.popupViewFacebook .lookingUpMsg {
	height: 16px;
	font-size: 14px;
	color: #30750a;
	font-weight: bold;
	vertical-align: 2px;
}

.popupViewFacebook .lookingUpMsg.error {
	color: #c43d40;
}

.popupViewFacebook .lookingUpMsg img {
	vertical-align: -2px;
}

.popupViewFacebook .spacer {
	height: 10px;
}

/*
 * Location
 */

 .popupViewFacebook .useLocation {
 	text-align: center;
 }
 
 .popupViewFacebook .useLocation a {
  	font-weight: normal;
	text-decoration: underline;
}