/*
 * All screens
 */

#sharePopup .modal-body {
	overflow: visible;
}


#sharePopup .hide {
	display: none;
}

#sharePopup .header {
	margin-bottom: 15px;
}

#sharePopup .question {
	margin-top: 15px;
	font-weight: bold;
}

#sharePopup .answer {
	margin-top: 4px;
}

/*
 * First save
 */

/*
 * Shared
 */

#sharePopup .question strong {
	border-bottom: 1px dotted grey;
	cursor: pointer;
}

#sharePopup .collapse {
	/*margin-left: 4px;*/
}

#sharePopup .imgContainer {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

#sharePopup a:not(.btn) {
	color: #2200CC;
	font-weight: normal;
	text-decoration: underline;	
}

#sharePopup .share-link > div {
	text-align: center;
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 18px;
}

/*
 * Not shared
 */

#sharePopup .not-shared {
	text-align: center;
}

#sharePopup .not-shared .header {
	font-weight: bold;
	margin-bottom: 20px;
}

#sharePopup .share-warning {
	display: none;
	margin-top: 20px;
	font-weight:bold !important;
	font-size:14px;
	color:#c43d40 !important;
}

#sharePopup .share-warning a {
	color: #C43D40;
	font-weight:bold;
}

#sharePopup .footer {
	margin-top: 30px;
}

#sharePopup .footer .popover {
	max-width: 400px !important;
}

#sharePopup .sharing-status.error a {
	font-weight:bold !important;
	font-size:14px;
	color:#c43d40 !important;
	margin-top: 8px;
}

#sharePopup .modal-footer .error {
	max-width: 460px;
	text-align: left;
	margin-top: -5px;
}