#loadingIndicator {
	height: 100px;
	left: 50%;
	margin-left: -50px;
	margin-top: -90px;
	position: fixed;
	top: 50%;
	width: 100px;
	z-index: 700;
}

#loadingMessage {
	width: 100%;
	text-align: center;
	margin-top: 14px;
	position: fixed;
	top: 50%;
	z-index: 700;
	font-size: 16px;
	font-weight: bold;
}