html, body {
	height: 100%;
	width: 100%;
	margin: auto;
}

body {
	position: fixed;
    bottom: 0;
	background-color:#c2c2c2;
	color:#333;
	overflow:hidden;
	font-family:Georgia, "Times New Roman", Times, serif;
}

body.mobile-view {
	position: initial;
	bottom: initial;
}

html, body, h1, h2, h3, h4, h5, h6, p, ul, form {
	margin: 0;
	padding: 0;
}

img {
	border:none;
	outline:none;
}

textarea {
	resize: none;
}

#contentPanel {
	width:100%;
	height:60%;
}

.bingLogo-lg {
	display: none;
}

#loadingOverlay {
	position: absolute;
	z-index: 500;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #c2c2c2;
}

a {
	color:#555;
	font-weight:bold;
	text-decoration:none;
	cursor: pointer;
}

a:hover{
	text-decoration:underline;
}

/*
 * Scrollbar
 */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: #888;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/*
 * Modal Styling
 */

.modal-header{
	border-bottom:none;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.modal-header h3{
	color:#fff;
	font-weight:normal;
	margin-bottom:5px;
}

.modal-tabs, .modal-header{
	background-color:#848484;
	font-family:Verdana, Geneva, sans-serif;
}

.modal-tabs .tab:nth-child(1) {
	margin-left: 15px;
}

.tab{
	display:inline-block;
	min-width: 120px;
	background-color:#bababa;
	color:#444;
	padding:5px;
	font:12px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	cursor:pointer;
	height: 21px;
}

.tab.active{
	background-color:#fff;
	cursor:default;
}

/*
 * Error box
 */

#fatalError {
	position: absolute;
	display: none;
	z-index: 999;
	top: 50%;
	left: 0px;
	width: 100%;
}

#fatalError > table {
	margin-top: -100px;
	margin-left:-247px;
	max-width:490px;
	min-height: 85px;
	background-color: white;
	border: 2px solid #333;
	padding:0px;
	margin-left: auto;
	margin-right: auto;
}

#fatalError .error-title {
	margin-right: 12px;
}

#fatalError .error-msg {
	margin-top: 8px;
	padding-bottom: 8px;
	margin-right: 8px;
}

#fatalError-icon {
	background: url('../../../resources/icons/errorbox-close.png') 0 0px;
	width: 75px;
	height: 75px;
	background-repeat: no-repeat;
}