#header {
	height:115px;
	background:#444;
	color:#fff;
	margin:0;
	overflow:hidden;
	display: none;
}

/*
 * Desktop
 */

.textArea {
	padding-top:0px;
	padding-left:25px;
	width:70%;
}

#headerDesktop .title {
	height:26px;
	padding-top: 18px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	text-align:left;
	overflow: hidden;
	white-space: nowrap;
}

/* In view mode add ellipsis if title is too long */
#header:not(.isBuilder) #headerDesktop .title {
	text-overflow: ellipsis;
	-o-text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
    word-wrap: break-word;
	white-space: pre;
}

#headerDesktop .subtitle {
	font-size: 13px;
	margin-top: 13px;
	overflow: hidden;
	font-weight: normal;
	line-height: 18px;
    word-wrap: break-word;
	height: 54px;
}

.rightArea {
	position: absolute;
	right: 0px;
	top: 0px;
	padding-top:25px;
	padding-right:25px;
	text-align:right;
}

.rightArea .social {
	margin-bottom:20px;
}

.social .msLink, .social .msLink a {
	color:#fff ;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:13px;
}

.rightArea .logo {
	border:none;
	outline:none;
}

.rightArea .logo img {
	max-width: 250px;
	max-height: 50px;
}

.switchBuilder {
	display: none;
	position:absolute; 
	right: 180px; 
	top: 30px;
	width: 145px;
	padding-left: 35px;
}

.switchBuilder img {
	position: absolute;
	top: 8px;
	left: 7px;
	width: 28px;
	height: 28px;
}

/*
 * Sharethis
 */

span.stButton {
	margin-right: 0px !important;
}

/*
 * Desktop builder view
 */

#headerDesktop .text_edit_input {
	/* Position on top of the config panel */
	position: relative;
	z-index: 501;
}

/* Reduce the width of the field to be sure that icon will stay visible */
#headerDesktop .text_edit_label { 
	max-width: 94%;
	overflow: hidden;
}

.title .text_edit_input {
	height: 20px;
	margin-top: -6px;
	margin-bottom: 0px;
	font-size: 20px;
	width: 98%;
}

.title .text_edit_icon {
	margin-top: -12px;
	margin-left: 8px;
}

.subtitle .text_edit_input {
	font-size: 12px;
	line-height: 17px;
	width: 97%;
}

.subtitle .text_edit_icon {
	position: absolute;
	margin-top: -9px;
	margin-left: 8px;
}

/*
 * Mobile
 */

#headerMobile {
	display: none;
	background-color:#444;
	position:fixed;
	width:100%;
	z-index: 100;
}

#headerMobile .banner {
	display: none;
	cursor: pointer;
}

#headerMobile .title {
	color:#fff;
	font-size:22px;
	font-family:Arial, Helvetica, sans-serif;
	padding: 10px 10px 0px 10px;
	margin-bottom: 10px;
    word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	max-height: 55px;
}

#headerMobile .subtitle {
	color:#dadada;
	font-size:16px;
	padding:0 10px 0 10px;
	font-weight:normal;
    word-wrap: break-word;
	max-height: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

#closeHeaderMobile, #openHeaderMobile {
	text-align:center;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	cursor:pointer;
}

#closeHeaderMobile {
	border-bottom:1px solid #888;
	padding:10px;
}

#openHeaderMobile {
	display: none;
	position:fixed;
	right:0;
	padding:7px;
	background-color:#666;
	-webkit-border-radius: 0px 0px 0px 7px;
	border-radius: 0px 0px 0px 7px;
	z-index:99;
}

.navBar {
	color:#848484;
	padding: 9px 0 9px 0;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	font-weight:normal;
}

.navBar span {
	cursor:pointer;
	-ms-user-select:none;
}

.rightLink, .leftLink {
	position:absolute;
}

.leftLink {
	left:1em;
}

.rightLink {
	right:1em;
}

.navBar .current {
	color:#fff;
	font-weight:bold;
}