#mapPanel {
	height:100%;
	float:right;
	background-color:#EEE;
	position:relative;
}

#mainMap {
	border:none;
	padding:0;
	height:100%;
	width:100% !important;
	overflow:hidden;
}

.modern-layout #mapPanel {
	width: 100% !important;
	float:inherit;
}

.modern-layout .logo-med {
	display: none !important;
}

.modern-layout:not(.mobile-view) .esriAttribution {
	display: none !important;
}

.side-panel:not(.mobile-layout-scroll) #mapPanel {
	min-width: 400px;
	height: 50%;
	float: left;
}

.side-panel.builder-mode:not(.mobile-layout-scroll) #mapPanel {
	min-width: 500px;
}

.side-panel:not(.mobile-layout-scroll) #leftPanel {
	min-width: 400px;
	float: left;
	background-color: #fff;
}

.side-panel.builder-mode:not(.mobile-layout-scroll) #leftPanel {
	min-width: 500px;
}

#footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	background-color:#E5E5E5;
}

.side-panel #footer {
	display: none;
	height: 0;
}

.builderMobile a {
	font-size: 24px;
	padding-top: 2px;
	padding-bottom: 6px;
}

.modern-layout.mobile-view #footer {
	width:100%;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.modern-layout #footer {
	width: auto;
	position: absolute;
	bottom: 10px;
	left: 10px;
	right: 10px;
}

/* FS/CSV/SHP layers will be hidden until explicitly set visible */
#mainMap svg > g {
	/*visibility: hidden;*/
}

#mainMap svg g#mainMap_graphics_layer {
	/*visibility: visible;*/
}

#hoverInfo {
	font-size:10px;
	position:absolute;
	padding:5px;
	max-width:200px;
	background-color:#FFC;
	border:#848484 solid 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 2px 2px 10px #333;
	-webkit-box-shadow: 2px 2px 10px #333;
	box-shadow: 2px 2px 10px #333;
	filter: progid: DXImageTransform.Microsoft.Shadow(strength = 2, direction = 135, color = '#333333');
	-ms-filter: "progid: DXImageTransform.Microsoft.Shadow(strength = 2, Direction = 135, Color = '#333333')";
	overflow:hidden;
	display:none;
	z-index:100;
    word-wrap: break-word;
}

/* Override Map Marker link color */
.multiTip a {
	color: #FFF;
}

audio {
	max-width: 100%;
}

/*
 * Autoplay
 */

#autoplay {
	display: none;
  position: absolute;
  bottom: 10px;
  z-index: 31;
  left: 50%;
}

.side-panel #footerDesktop {
	display: none;
}

#splashPanel {
  width: 100%;
  height: inherit;
  left: 0px;
	z-index: 499;
	background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: space-around;
  align-items: center;
  background-color: white;
	display: none;
	position: absolute;
}

#splashPanel .builder-mode {
	display: none;
}

#splashText {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px;
  width: calc(100% - 150px);
  max-width: 1200px;
	text-align: center;
  margin-left: auto;
  margin-right: auto;
	margin-top: 10%;
	font-weight: 300;
  overflow-y: auto;
	word-break: break-word;
}

#splashTitle {
	font-size: 60px;
}

#splashSubtitle {
	font-size: 28px;
}

#takeTour {
	background-color: rgba(255, 255, 255, 0.6);
	width: 180px;
	height: 180px;
	border-radius: 50%;
	font-size: 35px;
	z-index: 99;
	text-align: center;
	font-size: 35px;
	line-height: 35px;
	cursor: pointer;
	bottom: 82px;
	position: absolute;
	left: calc(50% - 90px);
}

#takeTourText {
	padding: 20px;
	padding-bottom: 10px;
	font-size: 40px;
	line-height: 35px;
	text-align: center;
}

#leftPanel {
	height: unset;
}

.side-panel .esriSimpleSlider {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	color: rgba(50,50,50,0.8);
}

.side-panel .esriSimpleSlider div {
	font-family: Avenir Next,Avenir;
	color: rgba(50,50,50,0.8);
}

.side-panel .esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
	border-bottom: none;
	border-radius: 0;
}

.side-panel .esriSimpleSliderVertical .esriSimpleSliderDecrementButton {
	border-top: solid 1px rgba(50,50,50,0.25);
}

.side-panel .esriSimpleSliderIncrementButton:nth-of-type(2){
	position: absolute;
  top: 75px;
  z-index: 99999999999;
  width: 30px;
  height: 30px;
  border-radius: 0;
  color: rgba(50,50,50,0.5);
  font-family: Avenir Next,Avenir;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  background: #FFF;
}

.side-panel .mapCommandHomeBtn {
	padding-top: 4px;
	font-size: 15px;
	background: #FFF;
}

.side-panel #mainMap_zoom_location {
	top: 135px;
}

.side-panel #mainMap_zoom_location div{
	font-size: 15px;
	margin-top: 3px;
	height: 27px;
}

.side-panel #mainMap_zoom_location img{
	display: none;
}

.side-panel .modern-layout-control {
	display: none;
}

.side-panel .esriSimpleSlider :hover {
	background-color: #f4f4f4;
}

#mainMap_gc {
	z-index: 2;
}

.cover-start {
	font-size: 90px;
  color: #fff;
  text-shadow: 1px 1px 10px #000, -1px -1px 10px #000;
  opacity: 0.6;
  cursor: pointer;
  height: 90px;
  line-height: 1;
  display: block;
  margin-bottom: 0;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.isEmbed .cover-start {
	bottom: 0;
}

.embed-modal-content:not(.side-panel) {
	margin: 25% auto;
}
