#pictureLoadingIndicator {
	position:absolute;
	top: 0px;
	left: 0px;
	margin:auto;
	display:block;
	height: 100px;
	width: 100px;
}


#pictureLoadingIndicator .spinner {
	z-index: 400 !important;
	margin-left: 50px;
	margin-top: 48px;
}

.member-image {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:auto;
	display:none;
	border:solid;
	border-collapse:collapse;
}

.member-image img {
	image-rendering:optimizeQuality;
	width: 100%;
	height: auto;
}

.member-image iframe {
	width: 100%;
	height: 100%;
	border: none;
}

.side-panel .member-image {
	border: none;
}

.side-panel .member-image img{
	object-fit: cover;
	object-position: center;
	height: 100%;
}

.modern-layout .member-image {
	border: none;
}

.modern-layout .member-image.current {
	border: 1px solid #B4B4B4;
}

.side-panel .member-image {
	height: 100%;
}

/*
 * Full screen btn
 */
.btn-fullscreen {
	display: inline-block;
	position: absolute;
	width: 26px;
	height: 26px;
	background: url('../../../../resources/icons/media-fullscreen.png') 0 0px;
	opacity: 0;
	/* under app loading overlay ; above builder button */
	z-index: 400;
	margin-top: 1px;
}

.side-panel .btn-fullscreen {
	top: 70px;
	right: 10px;
}

.builder-mode.side-panel .btn-fullscreen {
	display: none;
}

.btn-fullscreen.hover {
	opacity: 1.0;
	cursor: pointer;
}

.btn-fullscreen.hover {
	opacity: 0.8;
}

.btn-fullscreen.hover:hover {
	opacity: 1.0 !important;
}

.btn-fullscreen.disabled {
	display: none;
}

body.modern-layout .btn-fullscreen {
	margin-right: 2px;
	margin-top: -1px;
}

body.hasTouch .btn-fullscreen{
	display: block !important;
	opacity: 1.0 !important;
}

/*
 * Placard
 */

#placardContainer {
	position:absolute;
	width:100%;
	bottom:0px;
	display:none;
	overflow: hidden;
}

.side-panel #placardContainer {
	min-width: 500px;
	height: 50% !important;
	position: relative;
}

#placard {
	display: inline-table;
	background-image:url(../../../../resources/icons/background_filler.png);
	position:relative;
	width:100%;
	color:#FFF;
	z-index: 5;
  word-wrap: break-word;
}

.side-panel #placard {
	height: 100%;
	background-color: #FFF;
	background-image: none;
	color: black;
}

#placard a {
	color:#FFF;
	text-decoration: underline;
}

.side-panel #placard a {
	color:#000;
}

#placard ul {
	padding-left: 40px;
}

#placard-bg {
	width:100%;
	margin-bottom: -5px;
}

.side-panel #placard-bg {
	height: 100%;
}

.side-panel .feature-id {
	margin-top: 10px;
	font-weight: 600;
	font-size: 48px;
	width: 55px;
	margin-left: 10px;
	float: left;
}

.builder-mode.side-panel .feature-id {
	margin-top: 20px;
}

#placard .name {
	padding: 10px 0px 15px 10px;
	font-size:20px;
	width:35%;
	float:left;
	margin-top:0px;
	/*word-break:break-all;*/
}

.side-panel #placard .name {
	width: 60%;
	padding: 30px 0px 0px 10px;
	margin-bottom: 30px;
	word-break: break-word;
}

.side-panel #placard .name .text_edit_label {
	width: 100%;
	word-break: break-word;
}

#placard .description {
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width: 55%;
	float: right;
	padding-right: 10px;
	font-size: 14px;
}

#placard .name, #placard .description {
	overflow-x: hidden;
}

.side-panel #placard .description {
	width: 70%;
	left: 75px;
	float: none;
	padding: 0;
	word-break: break-word;
}

/*.side-panel.builder-mode #placard .description {
	left: -75px;
	float: right;
}*/

.side-panel #placard .description .text_edit_label {
	word-break: break-word;
	overflow-x: auto;
	overflow-y: hidden;
}

#placard.one-line-layout .name {
	padding: 10px 10px 0px 10px;
	width: auto;
	margin-right: 0px;
}

.builder-mode #placard.one-line-layout .name {
	float: inherit;
}

#placard.one-line-layout .description {
	padding: 10px 10px 0px 10px;
	width: auto;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-top: 3px;
}

.builder-mode #placard.one-line-layout .description {
	float: inherit;
}

#placard.one-line-layout .description .text_edit_icon {
	top: -16px;
}

#placard.one-line-layout .description .text_edit_label {
	margin-bottom: 4px;
}

#placardContainer.no-description .name :not(.side-panel){
	width: 97%;
}

#placardContainer.no-description .description {
	display: none;
}

#placardContainer.force-hidden {
	display: none !important;
}

#toggle {
	width:36px;
	height:18px;
	margin-left:25px;
	background-image:url(../../../../resources/icons/picturepanel-placard-toggle.png);
	cursor:pointer;
}

.side-panel #toggle {
	display: none !important;
}

body.modern-layout #toggle {
	margin-left: 55px;
}

#toggle.closed {
	background-position-y: 18px;
}

/*
 * Layout with placard under
 */

#placardContainer.placardUnder #toggle {
	display: none;
}

#placardContainer.placardUnder {
	border:solid;
	border-collapse:collapse;
	margin-left: -3px;
	overflow-y: auto;
}

#placardContainer.placardUnder #placard {
	display: table;
	height: 100%;
}

#placardContainer.placardUnder #placard-bg {
	height: 100% !important;
	max-height: 100% !important;
	margin-bottom: 0px;
}

#placardContainer.placardUnder .description .text_edit_icon {
	top: 11px;
	right: 1px;
}

#placardContainer.placardUnder .name .text_edit_icon {
	top: 1px;
	left: 37%;
}

/*
 * Builder mode
 */

#placard .name .text_edit_input {
	margin-top: -2px;
	font-size: 20px;
	line-height: 24px;
	height: 74px;
}

#placard.one-line-layout .name .text_edit_input {
	height: 25px;
	overflow-y: hidden;
	z-index: 2000;
	width: 98%;
}

#placard .name .text_edit_icon {
	position: absolute;
	top: -16px;
	left: 38%;
}

.side-panel #placard .name .text_edit_icon {
	top: auto;
	left: auto;
}

#placard .description .text_edit_input {
	width: 98%;
	margin-top: -2px;
	font-size: 14px;
	line-height: 16px;
}

.builder-mode #placard.one-line-layout.isEditing .description .text_edit_icon {
	display:none !important;
}

#placard .description .text_edit_icon {
	position: absolute;
	top: -8px;
	right: 4px;
}

.side-panel #placard .description .text_edit_icon {
	top: auto;
	left: auto;
}

.builder-mode #placard .name, .builder-mode #placard .description {
	overflow-x: initial;
}

.builder-mode.side-panel #placard .name, .builder-mode.side-panel #placard .description {
	overflow: hidden;
	padding-right: 25px;
}

/*.builder-mode.side-panel #placard .name, .builder-mode.side-panel #placard .description {
	overflow-x: auto;
}*/

.builderImageTarget {
	display: none;
}

.builder-mode.side-panel .builderImageTarget {
	height: 100%;
	width: 100%;
	border: 2px dashed rgba(222,222,222, .4);
	margin: 10px;
	display: block;
	position: absolute;
	top: 0;
	cursor: pointer;
}

.builder-mode.side-panel .builderImageTarget:hover{
	border-color: rgba(222, 222, 222, 1);
}

.featureId {
	display: none;
}

.side-panel .featureId {
	display: block;
}

.cover-builder {
	display: none;
}

.builder-mode .cover-builder {
	display: block;
	height: 40px;
  line-height: 35px;
  width: 100%;
  background-color: #4C78BB;
  color: white;
  font-size: 24px;
}

.cover-config {
	text-align: center;
}

.coverRecordButton {
	display: none;
}

.builder-mode .coverRecordButton {
  color: white;
  text-align: center;
	left: 25px;
	top: 10px;
	position: absolute;
	display: block;
}

.cover-builder-tooltip {
	margin-left: 10px;
}
