#pictureLoadingIndicator {
	position:absolute;
	top: 0px;
	left: 0px;
	margin:auto;
	display:block;
}

#pictureLoadingIndicator .spinner {
	z-index: 400 !important;
}

.member-image {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:auto;
	display:none;
	border:solid;
	border-collapse:collapse;
}

.member-image img {
	image-rendering:optimizeQuality;
	width: 100%;
	height: auto;
}

.member-image iframe {
	width: 100%;
	height: 100%;
	border: none;
}

.modern-layout .member-image {
	border: none;
}

.modern-layout .member-image.current {
	border: 1px solid #797979;
}

/*
 * Full screen btn
 */
.btn-fullscreen {
	display: inline-block;
	position: absolute;
	width: 26px;
	height: 26px;
	background: url('../../../../resources/icons/media-fullscreen.png') 0 0px;
	opacity: 0;
	/* under app loading overlay ; above builder button */
	z-index: 400;
	margin-top: 1px;
}

.btn-fullscreen.hover {
	opacity: 1.0;
	cursor: pointer;
}

.btn-fullscreen.hover {
	opacity: 0.8;
}

.btn-fullscreen.hover:hover {
	opacity: 1.0 !important;
}

.btn-fullscreen.disabled {
	display: none;
}

body.modern-layout .btn-fullscreen {
	margin-right: 2px;
	margin-top: -1px;
}

body.hasTouch .btn-fullscreen{
	display: block !important;
	opacity: 1.0 !important;
}

/*
 * Placard
 */

#placardContainer {
	position:absolute;
	width:100%;
	bottom:0px;
	display:none;
	overflow: hidden;
}

#placard {
	display: inline-table;
	background-image:url(../../../../resources/icons/background_filler.png); 
	position:relative;
	width:100%;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	z-index: 5;
    word-wrap: break-word;
}


#placard  a {
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

#placard-bg {
	width:100%;
	margin-bottom: -5px;
}

#placard .name {
	padding: 10px 0px 15px 10px;
	font-size:20px;
	width:35%;
	float:left;
	margin-top:0px;
	/*word-break:break-all;*/
}

#placard .description {
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	width:55%;
	float:right;
	margin-top:0px;
	padding-right:10px;
	font-size: 14px;
}

#placard.one-line-layout .name {
	padding: 10px 10px 0px 10px;
	width: auto;
	margin-right: 0px;
}

.builder-mode #placard.one-line-layout .name {
	float: inherit;
}

#placard.one-line-layout .description {
	padding: 10px 10px 0px 10px;
	width: auto;
	margin-right: 0px;
	margin-bottom: 5px;
}

.builder-mode #placard.one-line-layout .description {
	float: inherit;
}

#placard.one-line-layout .description .text_edit_icon {
	top: -26px;
}

#placard.one-line-layout .description .text_edit_label {
	margin-bottom: 4px;
}

#placardContainer.no-description .name {
	width: 97%;
}

#placardContainer.no-description .description {
	display: none;
}

#placardContainer.force-hidden {
	display: none !important;
}

#toggle {
	width:20px;
	height:16px;
	margin-left:25px;
	background-image:url(../../../../resources/icons/background_filler.png); 
	color:#FFFFFF;
	padding-left:5px;
	cursor:pointer;
}

/*
 * Layout with placard under
 */

#placardContainer.placardUnder #toggle {
	display: none;
}

#placardContainer.placardUnder {
	border:solid;
	border-collapse:collapse;
	margin-left: -3px;
	overflow-y: auto;
}

#placardContainer.placardUnder #placard {
	display: table;
	height: 100%;
}

#placardContainer.placardUnder #placard-bg {
	height: 100% !important;
	max-height: 100% !important;
	margin-bottom: 0px;
}

#placardContainer.placardUnder .description .text_edit_icon {
	top: 1px;
	right: 1px;
}

#placardContainer.placardUnder .name .text_edit_icon {
	top: 1px;
	left: 37%;
}

/* 
 * Builder mode
 */

#placard .name .text_edit_input {
	margin-top: -2px;
	font-size: 20px;
	line-height: 24px;
	height: 74px;
}

#placard.one-line-layout .name .text_edit_input {
	height: 25px;
	overflow-y: hidden;
	z-index: 2000;
	width: 98%;
}

#placard .name .text_edit_icon {
	position: absolute;
	top: -16px;
	left: 38%;
}

#placard .description .text_edit_input {
	width: 98%;
	margin-top: -2px;
	font-size: 14px;
	line-height: 16px;
}

.builder-mode #placard.one-line-layout.isEditing .description .text_edit_icon {
	display:none !important;
}

#placard .description .text_edit_icon {
	position: absolute;
	top: -16px;
	right: 4px;
}

#placard .name, #placard .description  {
	overflow-x: hidden;
}

.builder-mode #placard .name, .builder-mode #placard .description  {
	overflow-x: initial;
}